<!-- //////////////////////////CARRUSEL MARCAS////////////////// -->
<br><br><br><br><br><br>
<div class="cards-list">
    <div id="top">
        <h2>MARCAS</h2>
    </div>
</div>
<br>
<div class="glider-contain">
    <div class="carousel__list">
        
    </div>

    <button aria-label="Previous" class="glider-prev">«</button>
    <button aria-label="Next" class="glider-next">»</button>
    <div role="tablist" class="dots"></div>
</div>
<br><br>
<!-- ///////////////TIPO COMBUSTIBLE////////////// -->
<div class="cards-list" id="containerTypecar">
    <div id="top">
        <h2>TIPO DE MOTOR</h2>
    </div>
</div>  
<!-- ///////////////CATEGORIA/////////////// -->
<div class="cards-list" id="containerCategories">
    <div id="top">
        <h2>CATEGORIA</h2>
    </div>
</div>
<!-- ///////////////CARROCERIA/////////////// -->
<div class="cards-list" id="containerTypecarroceria">
    <div id="top">
        <h2>CARROCERIA</h2>
    </div>
</div>
<!-- ///////////////mas visitados/////////////// -->
<div class="cards-list" id="containervisitas">
    <div id="top">
        <h2>MAS VISITADOS</h2>
    </div>
</div>
<!-- ///////////////Libros/////////////// -->
<div class="card_list">
    <div id="top">
        <h2>LIBROS DE COCHES</h2>
    </div>
    <div style="display: inline-block; width: 800px;" class="containerbooks">       
    </div>
    
    <div id="btn-more-books" class="btn-more-books"></div>
</div>


