<br><br><br><br><br><br><br><br><br><br><br>
<div id="cart">
    <div class="subtotal">
        <div class="subtotal-label">Subtotal:</div>
        <div class="subtotal-value" id="subtotal-value"></div>
    </div>   
</div>
<div class="summary-delivery">
    <select name="delivery-collection" class="summary-delivery-selection">
        <option value="0" selected="selected">Select Collection or Delivery</option>
        <option value="collection">Collection</option>
        <option value="first-class">Royal Mail 1st Class</option>
        <option value="second-class">Royal Mail 2nd Class</option>
        <option value="signed-for">Royal Mail Special Delivery</option>
    </select>
</div>

<div class="total">
    <div class="total-label">Total:</div>
    <div class="total-value" id="total-value"></div>
</div>

<div class="summary-checkout">
    <button class="checkout-cta">Comprar</button>
</div>