<br><br><br><br><br><br><br><br><br><br><br>
<div id="cart">
    <div class="subtotal">
        <div class="subtotal-label">Subtotal:</div>
        <div class="subtotal-value" id="subtotal-value"></div>
    </div>   
</div>



<div class="total">
    <div class="total-label">Total:</div>
    <div class="total-value" id="total-value"></div>
</div>
<!-- <div class="basket">
      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Item</li>
          <li class="price">Price</li>
          <li class="quantity">Quantity</li>
          <li class="subtotal">Subtotal</li>
        </ul>
      </div>

      <div id="cart" class="container_cart"></div>

    <div class="cart__checkout">
        <div class="summary">
            <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
            <div class="summary-subtotal">
                <div class="subtotal-title">Subtotal</div>
                <div class="subtotal-value final-value" id="basket-subtotal"></div>
                <div class="summary-promo hide">
                    <div class="promo-title">Promotion</div>
                    <div class="promo-value final-value" id="basket-promo"></div>
                </div>
            </div>
            <div class="summary-delivery">
                <select name="delivery-collection" class="summary-delivery-selection">
                    <option value="0" selected="selected">Select Collection or Delivery</option>
                    <option value="collection">Collection</option>
                    <option value="first-class">Royal Mail 1st Class</option>
                    <option value="second-class">Royal Mail 2nd Class</option>
                    <option value="signed-for">Royal Mail Special Delivery</option>
                </select>
            </div>
            <div class="basket-module">
                <label for="promo-code">Enter a promotional code</label>
                <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
                <button class="promo-code-cta">Apply</button>
            </div>
            <div class="summary-total">
                <div class="total-title">Total</div>
                <div class="total-value final-value" id="basket-total"></div>
            </div>
            <div class="summary-checkout">
                <button class="checkout-cta">Comprar</button>
            </div>
        </div>
    </div> -->

    <!-- <div id="cart"  class=”Cart-Container”></div>
    <div class=”Header”>
        <h3 class=”Heading”>Shopping Cart</h3>
        
    </div>
    <div class=”Cart-Items”>
            <div class=”image-box”>
            <img src=”images/apple.png” style={ height=”120px” }/>
            </div>
            <div class=”about”>
            <h1 class=”title”>Apple Juice</h1>
            <h3 class=”subtitle”>250ml</h3>
            <img src=”images/veg.png” style={{ height=”30px” }}/>
            </div>
            <div class=”counter”></div>
            <div class=”prices”></div>
    </div>
    <div class=”counter”>
        <div class=”btn”>+</div>
        <div class=”count”>2</div>
        <div class=”btn”>-</div>
    </div>
    <div class=”prices”>
        <div class=”amount”>$2.99</div>
        <div class=”save”><u>Save for later</u></div>
        <div class=”remove”><u>Remove</u></div>
    </div>
    <hr> 
    <div class=”checkout”>
    <div class=”total”>
    <div>
    <div class=”Subtotal”>Sub-Total</div>
    <div class=”items”>2 items</div>
    </div>
    <div class=”total-amount”>$6.18</div>
    </div>
    <button class=”button”>Checkout</button>
    </div> -->
    
