<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="module\login\view\login.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    
	<div style="margin-left: 36%; margin-top: 10%;" class="main" >  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form  id="register__form" method="post">
					<label for="chk" aria-hidden="true">Registro</label>                    					
                    <input for="user" id="username_reg" type="text" class="input" name="username_reg" placeholder="Nombre Usuario" >
                    <span id="error_username_reg" class="error"></span>
                    <input for="pass" id="email_reg" type="email" class="input" name="email_reg" placeholder="Email">
                    <span  id="error_email_reg" class="error"></span>
                    <input for="pass" id="passwd1_reg" type="password" class="input" name="passwd1_reg" placeholder="Password">
                    <span id="error_passwd1_reg" class="error"></span>
                    <input for="pass" id="passwd2_reg" type="password" class="input" name="passwd2_reg" placeholder=" Repite Password">
                    <span  id="error_passwd2_reg" class="error"></span>					
                    <input type="submit" id="register" class="button" value="REGISTRAR" style="padding: 2px;box-sizing: content-box; background-color: green;">
                </form>
			</div>

			<div class="login">
				<form id="login__form" method="POST">
					<label id="jump" for="chk" aria-hidden="true">Login</label>
                    <input for="user" id="username_log" type="text" class="input" name="username_log" placeholder="Nombre de Usuario">
                    <span id="error_username_log" class="error"></span>
                    <input for="pass" id="passwd_log" type="password" class="input" name="passwd_log" placeholder="Password">
                    <span  id="error_passwd_log" class="error"></span>
                    <input style="padding: 4px;box-sizing: content-box; background-color: green;" type="submit" id="login" class="button" value="Entrar">
                </form>
			</div>
	</div>
</body>
</html>