
<br><br><br><br><br><br><br><br>

<div  style="margin-left: 20%;" id="" class="filtro">
    <div id=""></div>
    <div class="filters"></div>
</div>

<div class='container mt-5 mb-5' id="all_cars">
    <div class='d-flex justify-content-center row'>
        <div class='button-info'></div>
    </div>
</div>

<div  class="date_car"></div>
<div class="glider-contain">  
    <div class="date_img">
    </div>

    <button aria-label="Previous" class="glider-prev">«</button>
    <button aria-label="Next" class="glider-next">»</button>
    <div role="tablist" class="dots"></div>
</div>
<div id='map' style='width: 800px; height: 600px;margin: auto;'></div>
    <div class="card_list">
    <div class="title_content"></div>
</div>

    <div class="results"></div>
    <div class="title_content"></div>
<div id="show_paginator" style="margin-left: 45%;"></div>



